<h1 class="page-titles"><%= @blog.title %></h1>
<!-- Shows the current blog -->
<div class="blogs-feed">
	<h3 class="blog-headers centerer"> Title </h3>
		<div class="centerer"><%= @blog.title %></div>
		<hr>
		<h3 class="blog-headers centerer"> Content </h3>
			<%= @blog.content %>
		<%if @blog.user_id == current_user.id %>
			<p class="edit-blog"><%= link_to('Edit Blog Post', edit_blog_path) %></p>
		<% end %>
	</div>

<div class="centerer"><a href="/"> Back to blogs</a></div>
<!-- Allows the user to create a comment -->
<div class="blogs-feed">
	<%= form_for [@blog, @comment] do |f|%>
		<div><%= f.text_area :body, :required => 'required', class: 'comment-TA'%></div>
		<div><%= f.hidden_field :blog_id, :value => @blog.id%></div>
		<div><%= f.hidden_field :user_id, :value => current_user.id%></div>
		<div class="comment-submit"><%= f.submit%></div>
	<% end %>
</div>
<!-- shows the comments -->
<div class="comments-feed">
	<h3 class="blog-headers centerer"> Comments </h3>
	<% @comments.each do |c|%>
			<%if c.blog_id == @blog.id %>
			<% @creator = User.find(c.user_id) %>
				<div>Name: <%= @creator.name %></div>
				<div>Comment: <%= c.body %></div>
					<%if @creator.id == current_user.id && c.user_id == current_user.id %>
						<div class="edit-comment"><a href="/blogs/<%= @blog.id%>/comments/<%=c.id%>/edit">Edit comment</a></div>
					<% end %>
					<hr>
			<% end %>
		<% end%>
</div>

<div class="centerer"><a href="/"> Back to blogs</a></div>
